.side-bar{
    overflow: scroll;
    padding: 0;
    .side-bar-item {
        width: 120px;
        min-width: 100px;
        height: 100px;
        min-height: 100px;
        cursor: pointer;
        user-select: none;

        &.selected {
            background: #eee;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
    .side-ico {
        width: 40px;
        height: 40px;
    }
}