@import "mixin.scss";

.account-panel {
    position: relative;
}
.account-list {
    width: 200px;
    @include ani(.5s);
    @include respond('small') {
        width: 250px;
    }
    @include respond('large') {
        width: 370px;
    }
    .address {
        font-size: 0.8em;
        &.selected {
            transform: translateX(8px);
        }
    }
}
.current {
    border-radius: 6px;
    box-shadow: 
        0 1px 5px #eee,
        0 -1px 5px #eee,
        1px 0 5px #eee,
        -1px 0 5px #eee;
}
.empty {
    @include square(100px)
}
.visible {
    @include square(40px);
}
.label_box {
    width: fit-content;
    margin: 0 5px 5px 0;
    padding: 2px 8px;
    border-radius: 3px;
    user-select: none;
    color: #fff;
    &.address {
        background-color: #dacd65;
    }
    &.public {
        background-color: #a8c74d;
    }
    &.private {
        background-color: #a19361;
    }
}
.text {
    font-size: 0.9em;
    margin-bottom: 5px;
}