@import "mixin.scss";

.account {
    .account_list {
        width: 370px;
        // @include ani(.5s);
        // @include respond('small') {
        //     width: 250px;
        // }
        // @include respond('large') {
        //     width: 370px;
        // }
        .address {
            font-size: 0.8em;
            &.selected {
                transform: translateX(8px);
            }
        }
    }
}