@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

$height_view: calc(100% - 30px);
.bench_main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    position: relative;
}
.tabs {
    margin: 10px 0 4px;
    width: 400px;
    height: 44px;
}
.bench_block {
    height: calc(100% - 44px);
    display: none;
    flex: 1;
    &.active {
        display: initial;
    }
    .label {
        display: none;
        font-size: .8em;
        height: 20px;
        margin: 5px 0;
    }
}
.md-view {
    background: #e1e1e1;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-line;
    height: $height_view;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.self_mirror {
    height: $height_view;
}
// overwritten in CodeMirror source css style height
.CodeMirror {
    height: 100%;
}

@media screen and (min-width: 850px) {
    .bench_main {
        flex-direction: row;
    }
    .bench_block {
        width: calc(50% - 20px);
        height: calc(100% - 10px);
        margin-right: 20px;
        display: initial;
        .label {
            display: initial;
        }
    }
    .tabs {
        display: none;
    }
}