
.draft{
    // height: 100%;
    // overflow: scroll;
}
.code-mirror{
    height: 20vh;
}
.ml5 {
    margin-left: 5px;
}
.bench-container {
    .bench-header {
        height: 50px;
        .title {
            margin: 0 10px 0 20px;
            font-size: 1.3em;
            font-weight: 800;
        }
    }
}