.flex {
    display: flex;
}
.flex1 {
    @extend .flex;
    align-items: center;
}
.flex2 {
    @extend .flex1;
    @extend .flex-column;
}
.flex3 {
    @extend .flex1;
    justify-content: center;
}
.flex4 {
    @extend .flex3;
    @extend .flex-column;
}
.flex-column {
    @extend .flex;
    flex-direction: column;
}
.flex-around {
    justify-content: space-around;
}
.flex-between{
    justify-content: space-between;
}
.flex-evenly {
    justify-content: space-evenly;
}
.fg1 {
    flex-grow: 1;
}
.fs0 {
    flex-shrink: 0;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.wh100 {
    @extend .w100;
    @extend .h100;
}
.tac {
    text-align: center;
}
.bbox {
    box-sizing: border-box;
}
.pa {
    position: absolute;
}
.pr {
    position: relative;
}
.ani {
    transition: all .3s;
}
.oh {
    overflow: hidden;
}
.usn {
    user-select: none;
}
.cp {
    cursor: pointer;
}
// ===Color===
.white {
    color: white;
}
.c6 {
    color: #666;
}
.c9 {
    color: #999;
}

.bg-white {
    background-color: white;
}
.icon {
    width: 20px;
    height: 20px;
}
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wrap {
    white-space: pre-wrap;
    word-break: break-all;
}