@mixin ani($sec) {
    transition: all $sec;
}

@mixin square($length) {
    width: $length;
    height: $length;
}

$breakpoints: (
    'small':  ( min-width: 850px  ),
    'medium': ( min-width: 1024px ),
    'large':  ( min-width: 1200px ),
);

@mixin respond($name) {
    @if map-has-key($map: $breakpoints, $key: $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "OOH NO, no value could be retrieved from `#{$breakpoints}`."
            + "Please make sure it is defined in `${breakpoints}` map."
    }
}